/*Custom CSS*/

body{
font-family: Karla;
}

a{
color:#222222;
}

/* Navigation Custom */
.navbar-inverse { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #222222}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #222222}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


/* End Navigation Custom */

#logo {
  float: left;
  line-height: 20px;
  margin-top:5px;
  margin-left:40px;
}

header {
    position: relative;
    width: 100%;
	height:100%;
    min-height: auto;
    color: #fff;
    background-image: url(http://placehold.it/1900x1080);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	margin-top:-52px;
	z-index:-1;
}

/*Header */

#header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/slider.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	margin-top:-112px;
	z-index:-1;
}

.modal-body h4, .modal-title  {
font-weight:bold;
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


/*End Header */

.caption {
    height: 20%;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
	font-size:15px;
	letter-spacing:2px;
}

.caption h5 {
    font-family: Raleway;
	font-size:13px;
}

.thumbnail img {
    width: 100%;
}

.price {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    color: #333;
}

.thumbnail h3 {
font-weight:bold;
margin-left:20px;
}

.thumbnail .caption h4 a{
font-weight:bold;
color:#222222;
}

.thumbnail .caption h5{
color:969fb3;
font-weight:500;
letter-spacing:2px;
font-size:12px;
}

.thumbnail .caption p{
margin-top:-10px;
}

.thumbnail .caption hr{
margin-top:-1px;
}

.thumbnail .caption h6{
margin-top:-10px;
font-size:inherit;
}

.form-control{
box-shadow:none;
font-size:12px;
font-weight:bolder;
border-width:0.1em;
border-color:#222;
border-radius:0;
color:#000;
}

.btn-default:hover{
opacity:0.8;
background-color:#000;
color:#fff;
}

.btn-default:active{
background-color:#000;
color:#fff;
}

.btn-default{
box-shadow:none;
width:100%;
height:45px;
font-size:14px;
border-color:#000;
border-radius:0;
color:#fff;
background-color:#000;
}

.btn-product{
width:300px;
height:70px;
}


.footers h5{
font-weight:bold;
letter-spacing:1px;
}

.footers .form-control {
box-shadow:none;
width:60%;
height:30px;
font-size:12px;
font-weight:bolder;
border-width:1px;
border-color:#000;
color:#000;
}

.footers .input-group{
width:100%;
}

.footers .btn{
box-shadow:none;
width:30%;
height:30px;
font-size:14px;
margin-left:5px;
border-color:#000;
border-radius:0;
color:#fff;
background-color:#000;
}

.footerrrs{
padding-right:30px;
}

.footers ul{
list-style:none;
padding:0;
}

.footers ul a{
color:#222;
font-size:12px;
}

.footers p{
color:#222;
font-size:12px;
margin-top:10px;
}

.footers h5 a{
color:#222222;
}

.contact-bg-img{
     background-image: url(http://placehold.it/1900x1200);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	margin-top:-112px;
	z-index:-1;
}

.contact-form .form-control{
text-align:center;
border:none;
height:50px;
}

.contact-form  h5, .contact-form p, .contact-form a {
color:#fff;
}

#brand-category{
margin-top:-18px;
}

#product-category, #brand-category{
padding:50px;
}

#product-category h5{
font-weight:bold;
font-size:14px;
}

#product-category p, #brand-category p{
font-weight:bold;
font-size:16px;
letter-spacing:1px;
}

#product-category ul{
list-style:none;
padding:10;
}

#brand-category ul{
list-style:none;
padding:0;
}

#product-category ul a, #brand-category ul a{
color:53545a;
font-size:12px;
}

#product-category h5 a{
color:#222222;
}

.article h4{
font-weight:bold;
letter-spacing:1px;
}

.article p{
font-weight:bold;
line-height:1.5;
}

.social-share h4{
font-weight:bold;
font-size:14px;
letter-spacing:1px;
}

.social-share{
padding:14px;
font-size:18px;
}

.article-navigation span{
font-weight:bold;
letter-spacing:2;
}

.article-navigation p{
margin-top:5px;
font-size:14px;
}

.judul{
padding:20px;
}

.judul h4{
font-weight:bold;
padding:20 20 5 70;
letter-spacing:1px;
font-size:20px;
line-height:1.3;
}

.judul h5{
margin-left:70px;
}

.isi p{
font-weight:bold;
padding:50 90 0 0;
line-height:1.5;
}

.pagination a{
border:none;
}

.paging>li>a, .paging>li>span{
border:none;
color:#222222;
}

.jumbotron h2{
font-weight:bold;
}

#angka-lima-jumbotron  h1{
font-family:Raleway;
font-weight:200;
}

#jumbroton-isi{
margin-left:50px;
margin-top:-80px;
width:100%;
}

#jumbroton-isi h2{
font-family:Raleway;
font-weight:bolder;
}

#jumbroton-isi h4{
color:#7d878c;
font-size:14px;
}

#jumbroton-isi p{
color:#7d878c;
font-size:12px;
}

div.vertical-line{
  width: 0px; /* Use only border style */
  height: 100%; 
  border: 1px inset; /* This is default border style for <hr> tag */
  border-color: #f0f0f0;
  margin-left:80px;
}

.judul-atas h5{
font-weight:bold;
font-size:20px;
letter-spacing:2px;
}

.judul-atas p{
font-weight:bold;
font-size:13px;
}

.archive-article h5{
font-weight:bold;
font-size:18px;
letter-spacing:1;
}

#slide-article{
background: url(../images/slider.jpg) no-repeat center center fixed;
width: 100%;
height: 70%;
display: table;
position: relative;
background-size: cover;
margin-top:-72px;
z-index:-1;
}

.padding-section{
padding: 50px 0;
}

.judul-slide-article h2 {
color:#fff;
font-size:2.7em;
text-align:left;
font-weight:bold;
letter-spacing:2px;
}

.judul-slide-article p {
color:#fff;
margin-right:80px;
letter-spacing:2px;
}

#text-banner-kiri{
padding:30 90 100 10;
}

#text-banner-kiri h3{
font-family: Raleway;
font-size:22px;
font-weight:bolder;
letter-spacing:2px;
}

#text-banner-kiri p {
margin-left:20px;
font-size:12px;
}

.no-box-shadow-and-border{
border:none;
box-shadow:none;
}

#instagram-gallery .col-md-2 .img-thumbnail{
box-shadow:none;
}

#next-prev-instagram-gallery .fa-chevron-left{
float:left;
margin-left:-30px;
margin-top:-100px;
position:relative;
}

#next-prev-instagram-gallery .fa-chevron-right{
float:right;
margin-right:-30px;
margin-top:-100px;
position:relative;
}

#see-more a{
color:#222222;
text-decoration:underline;
margin-left:250px;
font-weight:bolder;
font-family:Raleway;
font-size:13px;
letter-spacing:2px;
}

.instagram-gallery-title{
font-weight:bolder;
font-family:Raleway;
font-size:18px;
letter-spacing:1px;
}

.navigasi{
z-index:1;
width:100%;
margin:auto;
}

.product-description{
margin-top:-20px;
}

.product-description h3{
font-weight:bold;
letter-spacing:2px;
}

.product-description h4{
font-weight:bold;
}

.product-description p{
font-size:18px;
}

#label-out-of-stock{
background-color:#aaaaaa;
width:80px;
margin-left:90px;
margin-top:-29px;
padding:5 0 0 8;
}

#label-10-off{
background-color:#000;
width:55px;
margin-left:120px;
margin-top:-30px;
padding:5 0 0 8;
}

#label-out-of-stock p, #label-10-off p, #label-all-product-camera-fujifilm-out-of-stock p {
color:#fff;
font-size:10px;
}

.before-dicount{
color:#d2d1c9;
}

#myTab{
border:none;
}

#myTab a{
font-family:Raleway;
font-weight:bold;
color:#222222;
}

#myTabContent .tab-pane{
padding-left:15px;
}

#myTabContent .tab-pane h5{
font-weight:bold;
}

#myTabContent .tab-pane p, #myTabContent .tab-pane ul, #myTabContent .tab-pane li{ 
font-size:12px;
}

.navigasi-produk {
border-top:1px solid;
border-bottom:1px solid;
border-color:ccc;
}

.navigasi-produk li{
padding-right:30px;
margin-left:25px;
}

.navigasi-produk li a{
font-size:12px;
margin-top:5px;
}

.navigasi-produk>li.active>a, .navigasi-produk>li.active>a:hover, .navigasi-produk>li.active>a:focus{
color:#000;
font-weight:bold;
background-color:#fff;
}

.navigasi-produk>li.active>a{
font-size:17px;
}

.media-body h4{
font-size:15px;
font-weight:bold;
letter-spacing:1px;
}

.media-body p{
font-size:14px;
font-weight:bold;
}

.media-body h5{
font-size:12px;
color:#333;
}

.font-12px, .bca-klikpay, .total-label, .have-coupon p {
font-size:12px;
}

.have-coupon .form-control{
width:45%;
height:40px;
}

.have-coupon .btn-default{
width:30%;
height:40px;
margin-left:10px;
}

.total-price{
font-size:16px;
}

.control-label{
font-size:11px;
color:#8c8c8c;
font-family:Raleway;
letter-spacing:1px;
}

.radio, .shipping-method-detail {
margin-left:24px;
font-size:12px;
}

.payment-info{
background-color:#eeeeee;
padding:10;
border:solid;
border-radius:10px;
border-width:1px;
}

.brand-product-order-overview{
font-size:16px;
font-weight:bold;
}

.type-product-order-overview{
font-size:12px;
}

.price-product-order-overview{
font-size:13px;
font-weight:bold;
}

.table-summary-order td{
font-size:12px;
font-weight:bold;
}

.table-summary-order .total td{
font-size:16px;
font-weight:bold;
}

.related-product h4{
font-weight:bolder;
font-family:Raleway;
font-size:16px;
letter-spacing:1px;
}


.related-product p{
font-size:12px;
}

.related-product h5{
color:#d2d1c9;
}

.price-related-product{
font-size:14px;
}

.img-out-stock img{
opacity:0.4;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
z-index:2;
color:#000;
font-weight:bold;
background:none;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
background:none;
border:none;
}

.navigation-breadcrumb p{
font-size:16px;
font-weight:bold;
}

.navigation-breadcrumb li a{
font-size:12px;
}

.navigation-breadcrumb .breadcrumb{
background:none;
border:none;
}

.breadcrumb-new{
background:none;
border:none;
}

.breadcrumb-new>li+li:before{
content: ">";
padding:1px;
color:#ccc;
}

.breadcrumb-new>.active{
color:#000;
font-weight:bold;
font-size:14px;
}

.nav-product{
border-style:solid;
border-width:1px;
border-left:none;
border-bottom:none;
border-right:none;
border-radius:0;
border-color:#ccc;
}

.nav-product ol span{
border-style:solid;
border-width:1px;
border-left:none;
border-bottom:none;
border-top:none;
border-radius:0;
border-color:#ccc;
padding:10 10 10 0;
font-size:16px;
font-weight:bold;
letter-spacing:1px;
}

.nav-product li {
margin-left:10px;
}

.nav-product li a {
font-size:14px;
}

.qty-cart span{
padding-right:12px;
}

.btn-cart-minplus{
background-color:#fff;
border-width:1px solid;
color:#000;
text-align:center;
width:25%;
height:30px;
font-weight:bold;
}

.btn-cart-chekout{
width:90%;
}

.btn-cart-coupon{
width:20%;
height:40px;
}

.price-cart{
font-size:14px;
font-weight:bold;
}

.table-cart{
border:1px solid;
border-left:none;
border-bottom:none;
border-right:none;
border-color:#ccc;
}

.table-cart>tbody>tr>td, .table-cart th{
border-left:none;
border-bottom:none;
border-top:none;
border-color:#ccc;
}

.table-cart .no-bord{
border:none;
}

.right-bord{
border-right:1px solid;
border-left:none;
border-bottom:none;
border-top:none;
border-color:#ccc;
}

.left-bord{
border-left:1px solid;
border-right:none;
border-bottom:none;
border-top:none;
border-color:#ccc;
}

#right-bord{
border-right:1px solid;
border-left:none;
border-bottom:none;
border-top:none;
border-color:#ccc;
}

.header-modal{
border:none;
}

.signup-checkout h5{
font-size:16px;
font-weight:bold;
letter-spacing:1px;
}

.signup-checkout p{
font-size:12px;
}

.title-payment{
font-size:16px;
}

.journal-title h4{
font-size:16px;
font-weight:bold;
letter-spacing:1px;
line-height:1.5;
}

.journal-detail p {
font-size:12px;
letter-spacing:2px;
}

.search-again{
width:100%;
}

.search-again .form-control{
width:100%;
}

.search-again .btn-default{
width:50%;
}

.remember-me{
font-size:12px;
float:left;
}

.forgot-pass{
font-size:12px;
float:right;
color:#fff;
text-decoration:underline;
font-weight:normal;
}

.contact-form .forgot-pass-desc{
font-size:12px;
color:#fff;
font-weight:normal;
}

.btn-register{
background:transparent;
border-color:#fff;
}

.text-white{
color:#fff;
}

.my-account { text-align:center; }
.my-account ul.nav-pills { display:inline-block; }
.my-account li { display:inline;}
.my-account a { float:left; letter-spacing:1px; color:#535353; font-size:14px;}
* html .my-account ul.nav-pills { display:inline; } /* IE6 */
*+html .my-account ul.nav-pills { display:inline; } /* IE7 */

.nav-my-account>li.active>a, .nav-my-account>li.active>a:hover, .nav-my-account>li.active>a:focus{
background-color:transparent;
color:#000;
font-weight:bold;
border-bottom:1px solid;
border-radius:0;
border-color:#ccc;
}

.nav-my-account>li:hover{
background:none;
}

.my-account-form .form-control{
height:40px;
border-color:#ccc;
}

.my-account-form .btn-default{
width:80%;
}

.edit-delete{
float:right;
padding-top:55px;
}

.friends h5{
font-weight:bold;
letter-spacing:1px;
}

.friends a{
font-size:13px;
letter-spacing:2px;
color:#535353;
}

.friends .friends-name, .friends .friends-phone, .friends .friends-house{
color:#535353;
}

.friends .form-control{
border-color:#ccc;
}

.table-order-history>thead th{
font-size:12px;
text-align:center;
line-height:3;
font-weight:bold;
}

.table-order-history>tbody td{
font-size:12px;
text-align:center;
line-height:2;
color:#535353;
font-weight:bold;
}

.table-order-history>tbody td a{
color:#ccc;
letter-spacing:1px;
}

.table-order-history2>thead th{
font-size:12px;
line-height:3;
font-weight:bold;
}

.table-order-history2>tbody td h4{
font-size:14px;
line-height:2;
}

.table-order-history2>tbody td .produk-name{
font-size:13px;
color:#ccc;
}

.tbl-total td{
font-size:12px;
font-weight:bold;
line-height:1.8;
}

.tbl-total .total-price-order-history td{
font-size:18px;
}

.address-order-history .friends-title{
font-family:'Raleway';
font-size:12px;
}

.address-order-history .friends-name, .address-order-history .friends-phone, .address-order-history .friends-house{
color:#535353;
font-size:12px;
font-weight:bold;
}

.faqs-privacy-terms{
font-weight:bold;
}

.faqs-privacy-terms p{
font-size:13px;
line-height:1.5;
}

.faqs-privacy-terms ul{
list-style:none;
padding:0;
font-family:Raleway;
font-size:12px;
letter-spacing:1px;
line-height:2;
}

.faqs-privacy-terms h3{
font-family:Raleway;
font-size:18px;
font-weight:bolder;
letter-spacing:1px;
line-height:2;
}